<article>
    <section>
        <div class="left-side">
            <div class="image">
                <img src={{product.image}} alt={{product.name}}>
            </div>
        </div>
        <div class="right-side">
            <div class="hewser-row">
                <h1>{{product.name}}</h1>
                <div class="category">Category: {{product.category | uppercase}}</div>
                <div class="description">Description: {{product.description}}</div>
            </div>
            <div class="footer-row">
                <div class="price">{{product.price | currency}}</div>
                <div class="action">
                    <button mat-flat-button color="accent" class="buy" aria-label="Buy" (click)="onAddToCart(product)">
                        Buy
                    </button>
                </div>
            </div>
        </div>
    </section>
</article>
