<article *ngIf="(product | async) as prod">
    <section>
        <div class="left-side">
            <div class="image">
                <img src={{prod.image}} alt={{prod.name}}>
            </div>
        </div>
        <div class="right-side">
            <div class="hewser-row">
                <h1>{{prod.name}}</h1>
                <div class="category">Category: {{prod.category | uppercase}}</div>
                <div class="description">Description: {{prod.description}}</div>
            </div>
            <div class="footer-row">
                <div class="price">{{prod.price | currency}}</div>
                <div class="action">
                    <button mat-flat-button color="accent" class="buy" aria-label="Buy" (click)="onAddToCart(prod)">
                        Buy
                    </button>
                </div>
            </div>
        </div>
    </section>
</article>
