h2 {
    text-align: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    width: 100%;

    .name,
    .description {
        width: 150px;
    }

    .price {
        width: 70px;
    }

    .action {
        width: 135px;
    }
}
