<h1>Оформление заказа</h1>

<form (ngSubmit)="onSubmit()">
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Name:</mat-label>
            <input matInput type="text" placeholder="Type your name" required autocomplete="off">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Phone:</mat-label>
            <input matInput type="tel" placeholder="Type your phone" required autocomplete="off">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Email:</mat-label>
            <input matInput type="email" placeholder="Type your email" required autocomplete="off">
        </mat-form-field>
    </p>
    <p class="action">
        <button mat-raised-button type="submit" color="primary">Submit</button>
    </p>
</form>
