<h2>Cart</h2>
<div class="container">

    <ng-container *ngIf="cartService.getProducts().length else noproducts">
        <div class="header">
            <div class="name">Name</div>
            <div class="price">Price</div>
            <div class="quantity">Quantity</div>
        </div>

        <div id={{product.id}} class="row" *ngFor="let product of cartService.getProducts(); let i = index; trackBy: getProductId">
            <app-cart-item appHighlight
                [product]=product
                [number]=i+1
                (increase)=onIncrease($event)
                (decrease)=onDecrease($event)
                (delete)=onDelete($event)
                class="cart-item"
            ></app-cart-item>
        </div>

        <div *ngIf="getSum()" class="footer">
            <p>Total: {{getQuantity() ? getQuantity() + ' item(s), ': ''}} {{getSum() | currency}}</p>
        </div>
    </ng-container>

    <ng-template #noproducts>
        <h3>Cart is Empty</h3>
    </ng-template>

</div>
