h2,
h3 {
    text-align: center;
}

.header {
    display: flex;
    font-weight: bold;
}

.row {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.name {
    width: 180px;
}

.price {
    width: 70px;
}

.quantity {
    width: 140px;
    text-align: center;
}

.footer {
    width: 100%;
    border-top: 1px solid #000;
    text-align: right;
    margin: 0 auto;
}

h3 {
    text-align: center;
    color: rgb(143, 21, 21)
}

.cart-item {
    padding: 10px;
    border-radius: 5px;
}
